@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text');

body {
  font-family: "Karla", sans-serif;
  font-family: "Markazi Text", sans-serif;
}

:root {
  --main-yellow:#f4ce14;
  --main-green:#495E57;
}

.App {
  display: grid;
  flex: 1 1 auto;
  justify-content: center;
  align-self: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  grid-auto-rows: 0px;
  text-align: center;
}

.nav-main {
  display: flex;
  position: relative;
  overflow: visible;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  white-space: nowrap;
  min-width: 1000px;
  max-width: 100%;
  max-height: 39px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.nav-main a {
  font-family: 'Karla';
  font-size: 12pt;
  font-weight: 1000;
  color: black;
  margin: 0;
}

.logo {
  display: flex;
  padding: 4px 0 0 0;
  position: relative;
  flex-shrink: 0;
}

.call-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #495E57;
}

.call-text {
  position: relative;
  float: left;
  width: auto;
}

.call-text h1 {
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 700;
  color: #f4ce14;
  line-height: 50%;
}

.call-text h2 {
  font-family: "Karla";
  font-size: 40pt;
  font-weight: 500;
  color: white;
  line-height: 50%;
}

.call-text p {
  font-family: "Markazi Text";
  font-size: 16pt;
  color: white;
  line-height: 140%;
}

.call-main img {
  position: relative;
  max-width: 100%;
  max-height: 404px;
  height: auto;
  width: auto;
  border-radius: 10px;
}

.call-main button {
  background-color: #f4ce14;
  padding: 16px 30px;
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 800;
  color:black;
  border-radius: 5px;
}

.specials-header {
  font-family: 'Markazi Text';
  font-size: 18pt;
  font-weight: 1200;
  color: black;
}
.specials-header button {
  background-color: #f4ce14;
  padding: 16px 30px;
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 800;
  color:black;
  border-radius: 5px;
}

.specials-card-overlay {
  background-color: #EDEFEE;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  column-gap: 6;
  max-width: 1640px;
  margin-left: 10%;
  margin-right: 10%;
}

.specials-card-title {
  font-family: 'Markazi Text';
  font-size: 18pt;
  font-weight: 700;
  color: black;
  line-height: 90%;
}

.specials-card-price {
  font-family: 'Ubuntu';
  font-size: 16pt;
  font-weight: 500;
  color:#EE9972;
}

.specials-card-description {
  font-family: 'Karla';
  font-size: 16pt;
  color: black;
}

.specials-card-image {
  max-height: auto;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.delivery-link a {
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 700;
  color: black;
}

#bike-icon {
  max-height: 25px;
  max-width: 30px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-size: auto;
  padding: 0;
}

ul li.horizontal {
  display: inline-block;
  padding: 5%;
}

li.horizontal a {
  display: flex;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.chicago-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.chicago-text {
  position: relative;
  float: left;
  width: auto;
}

.chicago-text h1 {
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 500;
  color: black;
}

.chicago-text h2 {
  font-family: "Markazi Text";
  font-size: 40pt;
  font-weight: 100;
  color: #333333;
}

.chicago-text p {
  font-family: "Karla";
  font-size: 16pt;
  font-weight: 700;
  color: black;
}

.chicago-main img {
  position: relative;
  max-width: 100%;
  max-height: 404px;
  height: auto;
  width: auto;
  border-radius: 10px;
}

.review-main {
  background-color: #EDEFEE;
  font-family: "Karla";
  font-weight: 700;
  text-align: center;
}

.review-card-background {
  background-color: white;
  max-width: 1640px;
  margin-left: 10%;
  margin-right: 10%;
}

.review-card-review {
  font-weight: 300;
}





.footer-main {
  background-color: #EDEFEE;
  display: flex;
  position: relative;
  overflow: visible;
  align-items: top;
  padding: 5%;
  justify-content: center;
  flex-direction: row;
  white-space: nowrap;
  min-width: 1000px;
  max-height: 39px;
  margin: 0 -20px;
  width: auto;
}

.footerColHead {
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: 700;
  color: var(--main-green);
  margin: 0;
}

.footer-navbar {
  margin: 0 20px;
}

.footer-main li {
  color: black;
  font-family: 'Karla';
  font-size: 12pt;
}

.footer-main a {
  color: black;
  font-family: 'Karla';
  font-size: 12pt;
}

.footer-contact {
  margin: 0 20px;
}

.footer-social {
  margin: 0 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
