:root {
  --main-yellow:#f4ce14;
  --main-green:#495E57;
}

.App {
  display: grid;
  flex: 1 1 auto;
  justify-content: center;
  align-self: center;
  grid-template-rows: auto auto;
  grid-auto-rows: 0px;
  text-align: center;
}

.nav-main {
  display: flex;
  position: static;
  float: left;
  overflow: visible;
  align-items: center;
  justify-content: center;
  padding: 5%;
  flex-direction: row;
  white-space: nowrap;
  min-width: 1000px;
  max-height: 39px;
  margin: 0;
  width: auto;
}

.nav-main a {
  font: Karla;
  font-size: 20;
  font-weight: 700;
  color: black;
  margin: 0;
}

.logo {
  display: flex;
  margin-left: 15px;
  padding: 4px 0 0 0;
  position: relative;
  flex-shrink: 0;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-size: auto;
  padding: 0;
}

ul li.horizontal {
  display: inline-block;
  padding: 5%;
}

li.horizontal a {
  display: flex;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.footer-main {
  display: flex;
  float: left;
  position: relative;
  overflow: visible;
  align-items: top;
  padding: 5%;
  justify-content: center;
  flex-direction: row;
  white-space: nowrap;
  min-width: 1000px;
  max-height: 39px;
  margin: 0 -20px;
  width: auto;
}

.footerColHead {
  font: Karla;
  font-size: 20;
  font-weight: 700;
  color: var(--main-green);
  margin: 0;
}

.footer-navbar {
  margin: 0 20px;
}

.footer-main li {
  color: black;
  font: Karla;
  font-size: 20;
}

.footer-main a {
  color: black;
  font: Karla;
  font-size: 20;
}

.footer-contact {
  margin: 0 20px;
}

.footer-social {
  margin: 0 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
