@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  font-family: "Karla", sans-serif;
  font-family: "Markazi Text", sans-serif;
}

:root {
  --main-yellow:#f4ce14;
  --main-green:#495E57;
}

.App {
  display: grid;
  flex: 1 1 auto;
  justify-content: center;
  align-self: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  grid-auto-rows: 0px;
  text-align: center;
}

.site-wrapper {
  background-color: white;
}

.nav-main {
  display: flex;
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  overflow: visible;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  min-width: 1000px;
  max-width: 100%;
  max-height: 39px;
  width: auto;
}

.nav-fill {
  text-align: right;
  width: 100%;
}

.nav-fill a {
  font-family: 'Karla';
  font-size: 12pt;
  font-weight: 1000;
  color: black;
}

.logo {
  display: flex;
  flex-shrink: 0;
}

.call-main {
  display: flex;
  min-width: 1000px;
  max-width: 100%;
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #495E57;
}

.call-text {
  position: relative;
  float: left;
  width: auto;
}

.call-text h1 {
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 700;
  color: #f4ce14;
  line-height: 50%;
}

.call-text h2 {
  font-family: "Karla";
  font-size: 40pt;
  font-weight: 500;
  color: white;
  line-height: 50%;
  margin-top: -3%;
}

.call-text p {
  font-family: "Markazi Text";
  font-size: 16pt;
  color: white;
  line-height: 140%;
  margin-right: 30%;
}

.call-main img {
  display: block;
  float: right;
  max-width: 100%;
  max-height: 404px;
  height: auto;
  width: auto;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: -10%;
}

.call-main button {
  background-color: #f4ce14;
  padding: 16px 30px;
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 800;
  color:black;
  border-radius: 5px;
  width: 15rem;
}

.specials-main {
  padding-left: 20%;
  padding-right: 20%;
  min-width: 1000px;
  max-width: 100%;
  width: auto;
  margin-top: 3%;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  font-family: 'Markazi Text';
  font-size: 18pt;
  font-weight: 1200;
  color: black;
}

.specials-header button {
  background-color: #f4ce14;
  margin-top: 10%;
  padding: 16px 30px;
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 800;
  color:black;
  border-radius: 5px;
  width: 15rem;
}

.specials-card-overlay {
  background-color: #495E57;
  display: flex;
  flex: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.specials-card-title {
  font-family: 'Markazi Text';
  font-size: 24pt;
  font-weight: 700;
  color: white;
  line-height: 90%;
  padding-left: 10%;
  margin-top: 3%;
}

.specials-card-price {
  font-family: 'Ubuntu';
  font-size: 16pt;
  font-weight: 500;
  color:#EE9972;
  float: right;
  margin-top: -1rem;
  line-height: 30%;
  padding-right: 10%;
}

.specials-card-description {
  font-family: 'Karla';
  font-size: 16pt;
  color: white;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 10%;
}

.specials-card-image {
  height: 220px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-footer {
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-footer button {
  background-color: #f4ce14;
  padding: 16px 30px;
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 800;
  color:black;
  border-radius: 5px;
  width: 15rem;
}

#bike-icon {
  max-height: 25px;
  max-width: 25px;
  float: inline-end;
  padding-right: 10%;
}

.review-main {
  background-color: #495E57;
  font-family: Karla;
  font-weight: 700;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  min-width: 1000px;
  max-width: 100%;
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
}

.review-card {
  border-radius: 10px;
}


a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  font-size: auto;
  padding: 0;
}

ul li.horizontal {
  display: inline-block;
  padding: 5%;
}

li.horizontal a {
  display: flex;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.chicago-main {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  min-width: 1000px;
  max-width: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
}

.chicago-text {
  position: relative;
  float: left;
  width: auto;
}

.chicago-text h1 {
  font-family: "Markazi Text";
  font-size: 64pt;
  font-weight: 500;
  color: black;
}

.chicago-text h2 {
  font-family: "Markazi Text";
  font-size: 40pt;
  font-weight: 100;
  margin-top: -10%;
  color: #333333;
}

.chicago-text p {
  font-family: "Karla";
  font-size: 16pt;
  font-weight: 700;
  color: black;
  margin-right: 20%;
}

.chicago-main img {
  position: relative;
  max-width: 100%;
  max-height: 1080px;
  height: auto;
  width: auto;
  border-radius: 10px;
}

.footer-main {
  background-color: #495E57;
  display: flex;
  position: relative;
  overflow: visible;
  align-items: top;
  padding: 5%;
  justify-content: center;
  flex-direction: row;
  white-space: nowrap;
  min-width: 1000px;
  max-height: 39px;
  width: auto;
  padding-left: 20%;
  padding-right: 20%;
}

.footerColHead {
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: 700;
  color: white;
  margin: 0;
}

.footer-navbar {
  margin: 0 20px;
}

.footer-main li {
  color: white;
  font-family: 'Karla';
  font-size: 12pt;
}

.footer-main a {
  color: white;
  font-family: 'Karla';
  font-size: 12pt;
}

.footer-main p {
  color: white;
  font-family: 'Karla';
  font-size: 12pt;
}

.footer-contact {
  margin: 0 20px;
}

.footer-social {
  margin: 0 20px;
  align-items: center;
}

.footer-social ul a {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
